<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
    <%= link_to "Instagram",user_path(current_user),id: "logo" %>
    <div>
      <input class=serch placeholder="検索">
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "serch",help_path%></li>
        <li><%= link_to "notification",contact_path %></li>
        <li><%= link_to "Profile",about_path%></li>
      </ul>
    </nav>
    <% end %>
  </div>
</header>