<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Instagram", '#', id: "logo" %>
    <div>
      <input placeholder="検索">
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "serch",   '#' %></li>
        <li><%= link_to "notification",   '#' %></li>
        <li><%= link_to "my page", '#' %></li>
      </ul>
    </nav>
  </div>
</header>